.paper-content {
    margin-top: 5% !important;
}

.section-title {
    font-weight: 700;
    font-size: 180%;
    text-align: left;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #000000;
}

.sub-section-title {
    font-weight: 500;
    font-size: 120%;
    text-align: left;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #000000;
}