.custom-card {
    margin-top: 10%;
    width: 400%;
    border-radius: 10px !important;
    box-shadow: 0px 3px 6px #00000029 !important;
  }
  
  .card-title {
    font-weight: 600 !important;
    font-size: 150% !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #646464;
  }
  
  .card-image {
    height: 200px;
  }
  
  .card-description {
    font-size: 100% !important;
  }
  
  .home-movie-card-movie-name {
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 0px;
    color: #303030;
    opacity: 1;
    font-size: 15px;
    font-weight: 300;
  }
  
  .home-movie-card-movie-name p {
    margin: 0 auto;
  }