.paper-content {
  margin-top: 80px !important;
}

.section-title {
  font-weight: 700;
  font-size: 180%;
  text-align: left;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #000000;
}

.movie-title {
  font-weight: 500;
  font-size: 150%;
  text-align: left;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #000000;
}

.search-box {
  margin-top: 1%;
  font-size: 130%;
  font-weight: 500;
  border: none;
  color: #6b6b6b;
}

input.search-box:focus {
  outline: none;
}

.search-box::placeholder {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #bfbfbf;
}

.indicator-text {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #7c7c7c;
}
